@charset "utf-8";

$primary:#6C5DD3;
$box-padding: None;
$box-shadow: None;
$sizing-range-start: 4;
$sizing-range-end: 128;
$sizing-interval: 4;
$spacing-range-start: 4;
$spacing-range-end: 128;
$spacing-interval: 4;
$divider-thickness: 1rem;
$divider-color: #11142D;

// .transparent-style{
//     background-color: #ffffff;
//     opacity: .4;
// }

.notify-container-display{
    display: none;
}
.setting-container-display{
    display: none;
}
.li-text:hover{
    color:#6C5DD3;
}
.round-img{
    border-radius: 25%;
}
.has-radius-12{
    border-radius: 12px !important;
}
.has-radius-8{
    border-radius: 8px !important;
}
.has-radius-24{
    border-radius: 24px !important;
}
.on-hover:hover{
    background-color: #6C5DD3;
    color: white !important;
    border-radius: 15px;
}
.on-hover-notification-box-text:hover{
    color: white !important;
}
.on-hover-setting:hover{
    background-color: #6C5DD3;
    color: white !important;
    border-color: #6C5DD3 !important;
}
.setting-button{
    border-radius: 15px;
    border-color: #FF0000 !important;
}
.modal-button-color{
    background-color: black !important;
    color: white !important;
}
.modal-button-color-hover:hover{
    background-color: #6C5DD3 !important;
    color: white !important;
    border-color: #6C5DD3 !important;
}
.modal-content-notification-wh{
    width: 400px !important;
    position: absolute;
    z-index: 155px;
    top: 120px;
    right: 150px;
}
.modal-content-setting-wh{
    width: 600px !important;
    top: 50px;
    position: absolute;
    z-index: 155px;
    right: 350px;
}
.notification-bell-count{
    position: absolute;
    z-index: 155px;
    bottom: 580px;
    right: 130px;
    }
.notification-position{
    position: absolute;
    z-index: 155px;
    bottom: 600px;
    right: 110px;
}
.remove-cross-hero{
    position: absolute;
    z-index: 155px;
    bottom: 445px;
    right: 90px;
    border-radius: 50px;
}

.remove-cross-setting-form{
    position: absolute;
    z-index: 155px;
    bottom: 830px;
    right: 10px;
    border-radius: 50px;
}

.remove-cross-notification-form{
    position: absolute;
    z-index: 155px;
    bottom: 816px;
    right: 35px;
    border-radius: 50px;
}

$font-family: 'Poppins', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "../../node_modules/bulma/bulma.sass";
@import '../../node_modules/bulma-helpers/bulma-helpers';

