<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Overview</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css" />
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="section has-background-white-bis">
            <div class="container">
                <div class="columns has-background-white-bis">
                    <div class="column is-3">
                        <figure class="image">
                            <img src="logo.png" style="width:176px;height:47px;" >
                        </figure>
                        <p class="mt-6 mx-4">Admin tools</p>
                        <ul>
                            <li>
                                <button class="button mt-5 has-text-left has-background-white-bis notification is-medium is-fullwidth is-info is-inverted ">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-check "></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Overview</span>
                                </button>
                            </li>
                            <li>
                                <button class="button mt-4 has-background-white-bis notification is-medium is-fullwidth is-info is-inverted has-text-left">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-shopping-bag"></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Products</span>
                                </button>
                            </li>
                            <li>
                                <button class="button mt-4 has-background-white-bis notification is-medium is-fullwidth is-info is-inverted has-text-left">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-chart-bar"></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Campaings</span>
                                </button>
                            </li>
                            <li>
                                <button class="button mt-4 has-background-white-bis notification is-medium is-fullwidth is-info is-inverted has-text-left">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-clock"></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Schedules</span>
                                </button>
                            </li>
                            <li>
                                <button class="button mt-4 has-text-left has-background-white-bis notification is-medium is-fullwidth is-info is-inverted ">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-wallet"></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Payouts</span>
                                </button>
                            </li>
                            <li>
                                <button class="button mt-4 has-background-white-bis notification is-medium is-fullwidth is-info is-inverted has-text-left">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-receipt"></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Statement</span>
                                </button>
                            </li>
                            <li>
                                <button class="button mt-4 has-background-white-bis notification is-medium is-fullwidth is-info is-inverted has-text-left">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-cog"></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Settings</span>
                                </button>
                            </li>
                        </ul>
                        <hr />
                        <p class="mt-6 mx-4">Insight</p>
                        <ul>
                            <li>
                                <button class="button mt-4 has-background-white-bis notification is-medium is-fullwidth is-info mt-4 is-inverted has-text-left">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-inbox"></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Inbox</span>
                                </button>
                            </li>
                            <li>
                                <button class="button mt-4 has-background-white-bis notification is-medium is-fullwidth is-info is-inverted has-text-left">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-bell"></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Notifications</span>
                                </button>
                            </li>
                            <li>
                                <button class="button mt-4 has-background-white-bis notification is-medium is-fullwidth is-info is-inverted has-text-left">
                                    <span class="icon has-text-grey">
                                        <i class="fas fa-comments"></i>
                                    </span>
                                    <span class="is-size-6 has-text-grey">Comments</span>
                                </button>
                            </li>
                            <li>
                                <article class="media mt-6">
                                    <figure class="media-left">
                                        <p class="image is-48x48 is-rounded">
                                            <img src="ava.png " />
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                            <p class=" is-size-6 has-text-black has-text-weight-medium">Tam Tran</p>
                                            <p class=" is-size-7 has-text-weight-medium"><span>Free Account</span></p>
                                    </div>
                                    <figure class="media-right">
                                        <span class="icon mx-4">
                                            <i class="fas fa-arrows-alt-v has-text-black"></i>
                                        </span>
                                    </figure>
                                </article>
                            </li>
                        </ul>
                    </div>
                    <div class="column is-9">
                        <div class="columns mb-6">
                            <div class="column is-6">
                                <h4 class="is-size-5 has-text-black">Hi Tam Tran,</h4>
                                <h1 class="title is-size-2 has-text-black">Welcome back👋</h1>
                            </div>
                            <div class="column is-4">
                                <fieldset disabled>
                                    <div class="field">
                                        <p class="control is-expanded has-icons-left">
                                            <input class="input" type="text" placeholder="Search" />
                                            <span class="icon is-small is-left">
                                                <i class="fas fa-search"></i>
                                            </span>
                                        </p>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="column is-2">
                                <p class="buttons is-rounded has-text-centered mx-6">
                                    <button class="button">
                                        <span class="icon is-small is-black" id="notify">
                                            <i class="fas fa-bell"></i>
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </div>
                        <div class="columns notification has-background-info is-vcentered">
                            <div class="column is-3">
                                <h2 class="is-size-4 title has-text-white">Set a google analytic code</h2>
                                <p class=" is-size-6 has-text-white mb-4">Did you know you can set a Google Analytics code for your products?</p>
                                <button class="button is-fullwidth is-medium has-text-centered has-text-weight-medium has-text-black">Settings</button>
                            </div>
							<div class="column is-3"></div>
                            <div class="column is-4 has-text-centered">
                                <figure class="image is-125X125">
                                    <img src="slider-pic.png" />
                                </figure>
                            </div>
                        </div>
                        <div class="columns mt-5">
                            <div class="column">
                                <div class="notification has-background-white">
                                    <p class="is-size-5 has-text-black mx-4 mt-3 mb-5 has-text-weight-medium">Earnings by item</p>
                                    <div class="box">
                                        <article class="media">
                                            <figure class="media-left">
                                                <p class="image is-48x48  has-background-danger-light">
                                                    <img class="is-rounded" src="figure-1.png" />
                                                </p>
                                            </figure>
                                            <div class="media-content">
                                                <p class="is-size-6 has-text-black has-text-weight-medium">Benot 3D Kit</p>
                                                <p class="is-size-7 has-text-weight-medium">Illustration</p>
                                            </div>
                                            <figure class="media-right">
                                                <span class="icon">
                                                    <i class="fas fa-arrow-right"></i>
                                                </span>
                                            </figure>
                                        </article>
                                    </div>
                                    <div class="box">
                                        <article class="media">
                                            <figure class="media-left">
                                                <p class="image is-48x48 has-background-warning-light">
                                                    <img class="is-rounded" src="figure-1.png" />
                                                </p>
                                            </figure>
                                            <div class="media-content">
                                                <p class="is-size-6 has-text-black has-text-weight-medium">Benot 3D Kit</p>
                                                <p class="is-size-7 has-text-weight-medium">Illustration</p>
                                            </div>
                                            <figure class="media-right">
                                                <span class="icon">
                                                    <i class="fas fa-arrow-right"></i>
                                                </span>
                                            </figure>
                                        </article>
                                    </div>
                                    <div class="box mb-5">
                                        <article class="media">
                                            <figure class="media-left">
                                                <p class="image is-48x48 has-background-info-light">
                                                    <img class="is-rounded" src="figure-1.png" />
                                                </p>
                                            </figure>
                                            <div class="media-content">
                                                <p class="is-size-6 has-text-black has-text-weight-medium">Benot 3D Kit</p>
                                                <p class="is-size-7 has-text-weight-medium">Illustration</p>
                                            </div>
                                            <figure class="media-right">
                                                <span class="icon">
                                                    <i class="fas fa-arrow-right"></i>
                                                </span>
                                            </figure>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="notification has-background-danger-light">
                                    <h5 class="is-size-5 has-text-black mx-4 mt-4 mb-5 has-text-weight-medium">Earnings</h5>
                                    <div class="has-background-white">
                                        <figure class="media">
                                            <p class="image is-250x250">
                                                <img class="" src="g1.jpg" />
                                            </p>
                                        </figure>
                                        <div class="container mx-5 my-5 mb-4">
                                            <button class="button is-medium is-fullwidth mt-2 is-info">Analytic</button>
                                            <br />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="columns">
                            <div class="column has-text-centered">
                                <div class="notification has-background-white">
                                    <p class="is-size-5 has-text-weight-medium mt-4 has-text-black">Your earning this month</p>
                                    <h2 class="is-size-2  mt-5 has-text-info has-text-weight-bold">479.4</h2>
                                    <p class="is-size-6 has-text-weight-light mt-3">Update your payout</p>
                                    <p class="is-size-6 has-text-weight-light">method in Settings</p>
                                    <button class="button has-text-weight-medium is-info is-inverted is-fullwidth mt-6 mb-5 ">Withdraw All Earnings</button>
                                </div>
                            </div>
                            <div class="column">
                                    <h5 class="is-size-5 mb-5 has-text-weight-medium has-text-black">Affiliate Impressions</h5>
                                    <figure class="media">
                                        <p class="image is-250x250">
                                            <img class="" src="g2.jpg" />
                                        </p>
                                    </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     <!-- notify modal -->
  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content has-background-white py-5 px-5">
      <h3 class="is-size-4 has-text-black mb-6">Recent Notification</h3>
        <article class="media mt-6">
                                    <figure class="media-left">
                                        <p class="image is-48x48 is-rounded">
                                            <img src="ava.png " />
                                        </p>
                                    </figure>
                                    <div class="media-content">
                                            <p class=" is-size-6 has-text-black has-text-weight-medium">Sarah Surander</p>
                                            <p class=" is-size-7 has-text-weight-medium"><span>Commeneted on Collab Design</span></p>
                                    </div>
                                    <figure class="media-right">
                                        <p class="is-size-6">8hr</p>
                                    </figure>
                                </article>
    </div>
  </div>
     <script src="main.js"></script>
    </body>
</html>
